#canvas-container {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #E9E9E9;
    font-family: Arial, sans-serif;
}

/**
CSS -- Navbar
*/
#navbar {
    display : flex;
    background-color : #BABABA;
}

#logo {
    margin-right: 1.5rem;
}

.btn {
    font-size: 2rem;
    border: none;
    background-color: #BABABA;
}

.btn:nth-of-type(1) {
    border-bottom: 3px solid #199E58;
}

.btn a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

/**
CSS -- Header
*/
#header {
    background-color: #909090;
    color: white;
    text-align: center;
}

#header h1 {
    margin: 0;
    padding: 3rem 0rem 3rem 0rem;
}

#switch {
    display: flex;
    flex-direction: column;

}

#switch a {
    text-decoration: none;
    color: white;
}

#switch img {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 50px;
}


/**
CSS - Main
*/
#main {
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#playBtn {
    background-color: #199E58;
    width: 12.5rem;
    height: 6.25rem;
    border-radius: 25px;
    font-size: 2.188rem;
    color: white;
    border: none;
    text-transform: uppercase;
}

/**
CSS - Footer
*/
#footer {
    background-color: #BABABA;
    color: white;
    text-align:center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
}