#canvas-container {
    text-align: center;
}

body {margin: 0;
      font-family: Arial, sans-serif;}

/**
CSS -- Navbar
*/
#navbar {
    background-color : #BABABA;
    display : flex;
}

#logo {
    margin-right: 1.5rem;
}

.btn {
    font-size: 2rem;
    border: none;
    background-color: #BABABA;
}

.btn:nth-of-type(1) {
    border-bottom: 3px solid #199E58;
}

.btn a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

/**
CSS -- Header
*/
#header {
    background-color: #909090;
    color: white;
    text-align: center;
}

#header h1 {margin: 0;
            padding: 3rem 0rem 3rem 0rem;}

#switch {
    display: flex;
    flex-direction: column;
}

#switch a {
    text-decoration: none;
    color: white;
}

#switch img {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 50px;
}